#img-stars{
    box-shadow: 1px 1px 2px 2px#d6d6d6;
    border-radius: 20px;
    margin: 15px;
}
#details{
    box-shadow: 1px 1px 2px 2px#d6d6d6;
    border-radius: 20px;
    margin: 15px;
}

.product-wrapper{
    margin-top: 20px;
    padding: 10px;
}

.comments-wrapper{
    width: 98%;
    box-shadow: 1px 1px 2px 2px#d6d6d6;
    border-radius: 20px;
    margin: 15px 0px;
}

h1{
    color: #ed5e06;
}

h3{
    color: #ed5e06;
}

p{
    font-size: 18px;
}

.titles{
    color: #ed5e06;
    font-size: 18px;
    font-weight: bold;
}

#desc{
    margin-top: 0px;
}

#price-box{
    background-color: #f3f3f3;
    padding: 20px 0px;
    width: 80%;
    border-radius: 20px 50px;
    box-shadow: 1px 1px 2px 2px#d6d6d6;
}

form{
    width: 100%;
}

mat-form-field{
 width: 60%;
 font-size: 20px;
}

button{
    padding: 5px 30px;
    font-size: 20px;
}

img{
    margin-top: 20px;
    border-radius: 20px 50px;
    box-shadow: 1px 1px 2px 2px#d6d6d6;
}

#plannerIcon p{
    margin: 5px;
    font-size: 25px;
    padding-left: 20px;
}

mat-icon {
    font-size: 30px;
}

#plannerIcon{
    font-size: 30px;
    color: #ed5e06;
    cursor: pointer;
    padding: 10px 5px;
    transition: 0.3s;
    border: 2px solid #ed5e06;
    border-radius: 5px;
}

#plannerIcon:hover{
    background-color: #ed5e06;
    color: #f3f3f3;
    /* padding: 25px 150px; */
    transition: 0.3s;
}

ngb-rating{
    color: #ed5e06;
    font-size: 40px;
}

.comments{
    width: 90%;
    padding-bottom: 15px;
}

.comment{
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    padding: 15px;
}