<div fxFlex fxLayout="column" id="main">
    <div fxFlex id="welcome-title" fxLayoutAlign="center center" fxLayout="column">
        <h1>WELCOME TO BJ HISTORY ART MUSEUM</h1>
        <h3></h3>
        <a mat-raised-button routerLink="/products" id="browse-link">OUR COLLECTION</a>
    </div>
    <div id="sub-div" fxLayoutAlign="space-between center">
        <div id="middle1" fxFlex fxLayout="column">
            <div id="about">
                <h2>About Us</h2>
                <p>Cras volutpat at justo nec condimentum. Quisque lacinia tempus arcu non gravida. Aliquam pulvinar in justo id euismod. Nunc porttitor purus 
                eget lorem imperdiet dictum quis ut arcu. Nunc ac eros sed erat fringilla faucibus. Nam non mauris auctor, efficitur nisl quis, tristique dui. 
                Aenean quam ante, efficiturconvallis tellus non, scelerisque tristique nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                per inceptos himenaeos. Donec ac ultricies eros, eu fermentum leo. <br> <br>
                Proin risus erat, egestas et magna eu, feugiat hendrerit lectus. Curabitur arcu quam, sollicitudin nec semper eu, dignissim ut risus. Ut nulla nulla,
                dictum et neque ac, feugiat pharetra urna. Vestibulum lobortis vehicula magna, sed rhoncus ante auctor vel. Aliquam elementum ex enim, non elementum mi 
                vehicula et. Quisque non tempor metus. Cras blandit ex ut est dapibus egestas. <br> <br>
                lass aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In tincidunt erat eu tellus suscipit fermentum. Donec faucibus
                est ac augue ullamcorper, sit amet mattis velit aliquam. Proin convallis viverra velit, accumsan mattis elit rhoncus vel. Pellentesque habitant morbi tristique
                senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
            <div id="combine" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <div id="history">
                    <h2>History Cultures</h2>
                    <ul>
                        <li>Roman</li>
                        <li>Egyptian</li>
                        <li>Greek</li>
                        <li>Chinese</li>
                        <li>Byzantine</li>
                    </ul>
                </div>
                <div id="hours">
                    <h2>Working Hours</h2>
                    <p>Sunday–Tuesday: 10 am–5 pm <br>
                        Friday and Saturday: 10 am–9 pm <br>
                        Closed Wednesday</p>
                </div> 
                <div id="contact">
                    <h2>Contact Us</h2>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon aria-hidden="false">phone</mat-icon>
                        <p>+381 60/123-456-7</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon aria-hidden="false">email</mat-icon>
                        <p>bj.museum@gmail.com</p>
                    </div>
                </div> 
            </div>   
        </div>
        <div id="middle2">
        </div>
    </div>
</div>

