<div fxFlex fxLayout="column">
    <div fxFlex fxLayout="row">
        <div class="sideFilter">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
                <div fxLayout="row" fxLayoutAlign="space-between center" id="plannerIcon" *ngIf="username != null" matBadge="{{plannerNumber}}" matBadgeColor="primary" routerLink="/planner">
                    <mat-icon class="material-icons-outlined">
                        event
                    </mat-icon>
                    <p> Planner</p>
                </div>

                <mat-form-field color='primary'>
                    <input type="text" ngModel matInput placeholder="Search" name="search"
                    search #searchInput="ngModel" (keyup) = "search(searchInput)">
                </mat-form-field>

                <div class="check">
                    <h4>Price: {{value}} €</h4>
                    <mat-slider color="accent" (change)="onPriceChange($event)"
                            thumbLabel
                            step="1"
                            min="0"
                            max="10"
                            [(ngModel)]="value"
                            aria-label="units"
                            value>
                    </mat-slider>
                </div>

                <mat-form-field appearance="fill" id="sort">
                    <mat-label>Sort By</mat-label>
                    <mat-select (selectionChange)="onSortChange($event)">
                        <mat-option value="">None</mat-option>
                        <mat-option value="title-asc">Title ASC</mat-option>
                        <mat-option value="title-dsc">Title DESC</mat-option>
                        <mat-option value="price-asc">Price ASC</mat-option>
                        <mat-option value="price-dsc">Price DESC</mat-option>
                        <mat-option value="time-asc">Time ASC</mat-option>
                        <mat-option value="time-dsc">Time DESC</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Culture</mat-label>
                    <mat-select [formControl]="cultures" multiple (selectionChange)="onCultureChange()">
                      <mat-option *ngFor="let culture of ListCultures" [value]="culture">{{culture}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Century</mat-label>
                    <mat-select [formControl]="centuries" multiple  (selectionChange)="onCenturyChange()">
                      <mat-option *ngFor="let century of ListCenturies" [value]="century">{{century}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Classification</mat-label>
                    <mat-select [formControl]="classifications" multiple  (selectionChange)="onClassificationChange()">
                      <mat-option *ngFor="let classification of ListClassifications" [value]="classification">{{classification}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Period</mat-label>
                    <mat-select [formControl]="periods" multiple  (selectionChange)="onPeriodChange()">
                      <mat-option *ngFor="let period of ListPeriods" [value]="period">{{period}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Time</mat-label>
                    <mat-select [formControl]="times" multiple (selectionChange)="onTimeChange()">
                      <mat-option *ngFor="let time of ListTimes" [value]="time">{{time}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Rating</mat-label>
                    <mat-select [formControl]="ratings" multiple (selectionChange)="onRatingChange()">
                      <mat-option *ngFor="let rating of ListRatings" [value]="rating">{{rating}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="main" fxFlex fxLayout="column" fxLayoutAlign="center center"  >
            <section fxFlex fxLayout="row wrap" fxLayoutAlign="space-around center" id="main_section" >
                <mat-card fxFlex="400px" *ngFor="let exhibit of data | paginate: {itemsPerPage:10,currentPage:p}">
                    <img mat-card-image src="{{exhibit.image}}" alt="Photo" width="200px" height="400px" style="object-fit: contain;">

                    <mat-card-title fxLayoutAlign="center">
                        {{exhibit.title}}
                    </mat-card-title>

                    <mat-card-content fxLayoutAlign="center">
                    <h3>Price: {{exhibit.price}} €</h3>
                    </mat-card-content>

                    <mat-card-content fxLayoutAlign="center">
                    <h3>Time: {{exhibit.tourTime}} min</h3>
                    </mat-card-content>

                    <mat-card-actions fxLayoutAlign="center">
                        <button mat-raised-button color="primary" (click)="showOneExibit(exhibit.id)">Details</button>
                    </mat-card-actions>
                </mat-card>
            </section>
        </div>
    </div>
    <div fxLayoutAlign="center center" id="pagination">
        <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

