<button class="close" mat-button [mat-dialog-close]="true">
    <mat-icon matListIcon>close</mat-icon>
</button>

<mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
    <mat-table [dataSource]="databaseItems" matSort>
        <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
            <mat-cell *matCellDef="let element"><img src="{{ element.image }}" width="60px" height="60px" style="object-fit: contain;"></mat-cell>
        </ng-container>
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="rating">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Rating</mat-header-cell>
            <mat-cell *matCellDef="let element"><star-rating fxFlex
                [value]="element.rating"
                [totalstars]="5"
                checkedcolor="#ffd740"
                uncheckedcolor="gray"
                size="30px"
                readonly="false"
                (rate)="onRate($event, element.id)"
                ></star-rating></mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Review</mat-header-cell>
            <mat-cell *matCellDef="let element">
            <form #f="ngForm" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px" (ngSubmit)="onSubmit(f, element.id)">
            
                <mat-form-field  color="accent">
                    <textarea rows="3" type="text" ngModel matInput placeholder="Enter comment..." name="comment"></textarea>
                </mat-form-field> 
               
                <button type="submit" color="primary" mat-raised-button>Confirm</button>
            </form>
        </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let rows; columns: displayedColumns;"></mat-row>
    </mat-table>
</mat-dialog-content>
