section{
    min-height: 90vh;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../../../assets/login.jpg");
    background-size: cover;
    background-position: center;
}

form{
    width: 30%;
    background-color: #f3f3f3;
    padding: 50px 70px;
    /* border-radius: 20px 50px; */
    opacity: 0.96;
    box-shadow: 1px 1px #d6d6d6;
}

mat-form-field {
    width: 80%;
}