<div fxFlex fxLayout="column"> 
  <mat-toolbar color="accent">
    <div  style="padding: 20px 0px!important;">
        <a id="logo" routerLink="/">BJ History Art Museum</a>
    </div>

    <div fxFlex fxLayoutAlign="end" fxLayoutGap="25px">
        <a routerLink="/collection">Collection</a>
        <a *ngIf="(loggedIn$ | async) as loggedIn" routerLink="/users">Profile</a>
        <a *ngIf="(loggedIn$ | async) as loggedIn" routerLink="/planner">Cart</a>
        <a *ngIf="!(loggedIn$ | async) as loggedIn" routerLink="/signup">SignUp</a>
        <a *ngIf="!(loggedIn$ | async) as loggedIn" routerLink="/login">LogIn</a>
        <a *ngIf="(loggedIn$ | async) as loggedIn" routerLink="/login">Logout</a>
    </div>

  </mat-toolbar>
  <router-outlet></router-outlet>
  <div fxFlex id="footer" fxLayoutAlign="center center">
    <h2>© 2022 BJ History Art Museum. All Rights Reserved.</h2>
  </div>
</div>